@function color($type,$opacity:1) {
  @if $opacity == 1 { @return rgb(var(--color-#{$type})); }
  @else { @return rgba(var(--color-#{$type}),$opacity); }
}

body {
  --color-base: 0, 10, 23;
  --color-main: 255,255,255;
  background: color(base);
  color: color(main);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  margin: 0;
  padding: 0;
  font-family: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", "Noto Sans CJK JP", "BIZ UDPGothic", Meiryo, -apple-system, BlinkMacSystemFont, "Avenir Next Condensed", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-smoothing: antialiased;
  font-feature-settings : "pkna" 1;
  font-kerning: normal;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

ul {
  list-style: none;
}
